#welcome-text {
    font-size: 1.5em;
}

article {
    margin-top: 1em; 
    margin-bottom: 1em;
    padding: 0.5em 1em 0.5em 1em;
    border: 0.1em solid #45015d;
    border-radius: 25px;
    background-color: #008080bd;
    color: rgb(0, 0, 0);
    font-size: larger;
}

article a {
    color: white;
    text-decoration: none;
}

article a:hover {
    color: #45015d;
}

.category {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 12px;
}

@media screen and (min-width: 600px) {
    #main-content {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
    }

    #main-content > div {
        width: 40em;
        padding-left: 5em;
    }

    .fixed-aside {
        position: fixed;
        left: 0;
        height: 100vh;
        width: 10em;
        display: flex;
        padding-left: 1em;
    }
    .fixed-aside a:hover {
        background-color: teal;
        color: white;
        border-radius: 25px;
    }

    .fixed-aside > section >nav >ul {
        list-style: none;
        text-decoration: none;
        align-content: left;
        padding-left: 1.5em;
    }

    .fixed-aside > section >nav >ul >li {
        padding-bottom: 1em;
    }
}

@media screen and (max-width: 600px) {
    #main-content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    #main-content > div {
        width: 90%;
        padding-left: 5em;
    }
    
    .fixed-aside {
        width: 10em;
        padding-left: 1em;
        color: black;
    }

    .fixed-aside a:hover {
        background-color: teal;
        color: black;
        border-radius: 25px;
    }
    
    .fixed-aside > section >nav >ul {
        list-style: none;
        text-decoration: none;
        padding-left: 1.5em;
        width: 100vw;
        color: black;
        display: flex;
    }
    
    .fixed-aside > section >nav >ul >li {
        padding-bottom: 1em;
        color: black;
        flex-direction: row;
    }
}