#welcome-text {
    font-size: 1.5em;
}

article {
    padding-top: 1vh; 
}

#main-content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

#main-content > div {
    width: 60%;
}

.fixed-aside {
    position: fixed;
    left: 0;
    height: 100vh;
}