body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0px;
    font-size: 1.5vw;
    background-color: #0080801f;
}

#logo {
    margin: 0px;
    padding: 1vw;
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: white;
    text-shadow: 
        1px 1px 0px #45015d,
        -1px 1px 0px #45015d,
        1px -1px 0px #45015d,
        -1px -1px 0px #45015d;
}

#logo a {
    text-decoration: none;
    color: white;
}



body > header {
    background-color: Teal;
    color: white;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

body > header > nav > ul {
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.topnav a:hover {
    background-color: rgb(0, 54, 54);
    color: white;
}

.topnav a.active {
    background-color: rgba(0, 187, 187, 0.541);
    color: black;
}
.topnav a.active:hover {
    background-color: rgb(0, 54, 54);
    color: white;
}

@media screen and (min-width: 600px) {
    .icon {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .topnav {
        color: black;
        display: flex;
        flex-direction: column;
    }
    .topnav ul {
        list-style: none;
        text-decoration: none;
        display: flex;
        justify-content: space-around;
        padding: 1em;
        margin: 1em;
    }
    .navbutton {
        float: none;
        display: none;
    }
    .topnav a.icon {
      display: block;
      position: absolute;
    }
    .responsive ul {
        display: flex;
        flex-direction: column;
        background-color: teal;
    }
    .responsive ul li a {
      text-align: left;
    }
}

main {
    padding-top: 5em;
}

.navbutton {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 12px;
}

body > footer {
    background-color: teal;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

#footer-navigation {
    display: flex;
    list-style: none;
}

#footer-navigation > div > li {
    margin-left: 1em;
}

#footer-navigation > div > li > a {
    color: white;
    text-decoration: none;
}
