body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0px;
    font-size: 1.5vw;
}

#logo {
    margin: 0px;
    padding: 8px;
    font-family: "Fredoka One", sans-serif;
    /*box-shadow: 8px 8px 10px 3px rgb(4, 48, 48);
    width: 16%*/
    text-shadow: 
        1px 1px 0px rgb(4, 48, 48),
        -1px 1px 0px rgb(4, 48, 48),
        1px -1px 0px rgb(4, 48, 48),
        -1px -1px 0px rgb(4, 48, 48);
}

ul {
    margin: 0px;
}

body > header {
    background-color: teal;
    color: white;
    display: flex;
    height: 12vh;
    align-items: center;
    justify-content: space-around;
}

body > header > nav > ul {
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
}

#main-navigation >li {
    padding: 8px;
    margin: 16px;
}

.navbutton {
    color: white;
    text-decoration: none;
    padding: 12px;
    border: 1px solid white;
    border-radius: 10%;
}

body > main article {
    width: 80%;
    margin: auto;
}

#main-content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

#main-content > div {
    width: 70%;
}

h2 {
    text-align: center;
}

form {
    text-align: center;
}

body > footer {
    background-color: teal;
    display: flex;
}

img {
    border-radius: 100%;
}

#footer-navigation {
    display: flex;
    list-style: none;
}

#footer-navigation > div > li {
    margin-left: 12px;
}

#footer-navigation > div > li > a {
    color: white;
    text-decoration: none;
}