body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0px;
    font-size: 1.5vw;
}

#logo {
    margin: 0px;
    padding: 8px;
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-shadow: 
        1px 1px 0px rgb(4, 48, 48),
        -1px 1px 0px rgb(4, 48, 48),
        1px -1px 0px rgb(4, 48, 48),
        -1px -1px 0px rgb(4, 48, 48);
}

body > header {
    background-color: Teal;
    color: white;
    display: flex;
    height: 12vh;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

body > header > nav > ul {
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
}

main {
    padding-top: 12vh;
}

#welcome-text {
    font-size: 2vh;
}

article {
    padding-top: 1vh;
    
}

.navbutton {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 12px;
}

#main-content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

#main-content > div {
    width: 60%;
}

.fixed-aside {
    position: fixed;
    left: 0;
    height: 100vh;
}

body > footer {
    background-color: teal;
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: space-around;
}

#footer-navigation {
    display: flex;
    list-style: none;
}

#footer-navigation > div > li {
    margin-left: 12px;
}

#footer-navigation > div > li > a {
    color: white;
    text-decoration: none;
}
